/* neutrals */
$blueGrey1: hsl(210, 36%, 96%);
$blueGrey2: hsl(212, 33%, 89%);
$blueGrey3: hsl(210, 31%, 80%);
$blueGrey4: hsl(211, 27%, 70%);
$blueGrey5: hsl(209, 23%, 60%);
$blueGrey6: hsl(210, 22%, 49%);
$blueGrey7: hsl(209, 28%, 39%);
$blueGrey8: hsl(209, 34%, 30%);
$blueGrey9: hsl(211, 39%, 23%);
$blueGrey0: hsl(209, 61%, 16%);
/* primaries */
$cyan1: hsl(186, 100%, 94%);
$cyan2: hsl(185, 94%, 87%);
$cyan3: hsl(184, 80%, 74%);
$cyan4: hsl(184, 65%, 59%);
$cyan5: hsl(185, 57%, 50%);
$cyan6: hsl(185, 62%, 45%);
$cyan7: hsl(184, 77%, 34%);
$cyan8: hsl(185, 81%, 29%);
$cyan9: hsl(185, 84%, 25%);
$cyan0: hsl(184, 91%, 17%);
/* supporting indigo*/
$indigo1: hsl(221, 68%, 93%);
$indigo2: hsl(221, 78%, 86%);
$indigo3: hsl(224, 67%, 76%);
$indigo4: hsl(225, 57%, 67%);
$indigo5: hsl(227, 50%, 59%);
$indigo6: hsl(227, 42%, 51%);
$indigo7: hsl(228, 45%, 45%);
$indigo8: hsl(230, 49%, 41%);
$indigo9: hsl(232, 51%, 36%);
$indigo0: hsl(234, 62%, 26%);
/* supporting pink */
$pink1: hsl(329, 100%, 94%);
$pink2: hsl(330, 87%, 85%);
$pink3: hsl(330, 77%, 76%);
$pink4: hsl(330, 72%, 65%);
$pink5: hsl(330, 66%, 57%);
$pink6: hsl(330, 63%, 47%);
$pink7: hsl(330, 68%, 40%);
$pink8: hsl(330, 70%, 36%);
$pink9: hsl(331, 74%, 27%);
$pink0: hsl(330, 79%, 20%);
/* supporting red */
$red1: hsl(360, 100%, 97%);
$red2: hsl(360, 82%, 89%);
$red3: hsl(360, 77%, 78%);
$red4: hsl(360, 71%, 66%);
$red5: hsl(360, 64%, 55%);
$red6: hsl(360, 67%, 44%);
$red7: hsl(360, 72%, 38%);
$red8: hsl(360, 79%, 32%);
$red9: hsl(360, 85%, 25%);
$red0: hsl(360, 92%, 20%);
/* supporting yellow */
$yellow1: hsl(45, 100%, 96%);
$yellow2: hsl(45, 90%, 88%);
$yellow3: hsl(45, 86%, 81%);
$yellow4: hsl(43, 90%, 76%);
$yellow5: hsl(43, 89%, 70%);
$yellow6: hsl(42, 78%, 60%);
$yellow7: hsl(42, 63%, 48%);
$yellow8: hsl(43, 72%, 37%);
$yellow9: hsl(43, 77%, 27%);
$yellow0: hsl(43, 86%, 17%);
